.input_group {
  @apply tw-flex tw-border tw-rounded-xl tw-bg-slate-50 tw-text-white;
  height: 2.3rem;
  position: relative;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.input_text {
  @apply tw-w-full tw-py-4 tw-px-4 tw-border tw-rounded-xl tw-text-base
    tw-bg-transparent tw-placeholder-slate-300;
  @apply focus:tw-outline-none tw-border-none;
}

.button {
  @apply tw-bg-size-200 tw-bg-pos-0 hover:tw-bg-pos-100 tw-h-[2.5rem] tw-py-0 tw-w-8/12 tw-text-center tw-border-none tw-rounded-md tw-text-white tw-font-bold tw-px-4 hover:tw-shadow-2xl tw-bg-gradient-to-r tw-from-blue-500 tw-via-purple-500 tw-to-pink-500 tw-duration-500;
  @apply tw-text-gray-50 tw-text-base;
}

.button_custom {
  @apply tw-h-[2rem] tw-rounded-lg tw-w-8/12 tw-py-0 tw-mx-auto tw-flex tw-justify-center tw-gap-2 tw-transition tw-duration-300 tw-border tw-border-transparent tw-items-center tw-text-center tw-text-sm tw-self-center;
  background-color: rgba(255, 255, 255, 0.3);
}

.button_custom:hover {
  /* box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3); */
  box-shadow: 0px 3px 6px #c471ed;
}

.input_text + * {
  color: #cbd5e1;
  transition: 0.3s;
}

.input_text:focus + * {
  color: #6366f1;
}

.input_text:not([type="email"]) ~ span:hover * {
  transition: 0.4s;
  color: #6366f1;
  cursor: pointer;
}

.color_font {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#12c2e9),
    color-stop(#c471ed),
    to(#f64f59)
  );
  background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
